<ion-header>
  <ion-toolbar>
    <ion-title>Account info edit</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add">
    <div class="form-part">
      <ion-list>
        <ion-item class="ion-no-padding" lines="none">
          <ion-input type="number" [(ngModel)]="card_number" placeholder="Card Number"></ion-input>
        </ion-item>
        <div class="flex">
          <p>Expired Date</p>
          <ion-item class="ion-no-padding" lines="none">
            <ion-input type="New Password" [(ngModel)]="exp_month" placeholder="MM"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-input type="New Password" [(ngModel)]="exp_year" placeholder="YY"></ion-input>
          </ion-item>
        </div>
        <ion-item class="ion-no-padding" lines="none">
          <ion-input type="New Password" [(ngModel)]="cvv" placeholder="CVV"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none">
          <ion-input type="name" [(ngModel)]="first_name" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none">
          <ion-input type="name" [(ngModel)]="last_name" placeholder="Last Name"></ion-input>
        </ion-item>
        <div class="flex">
          <p>You can remove this card at anytime</p>
          <ion-toggle slot="end" mode="md"></ion-toggle>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer mode="md">
  <ion-button shape="round" (click)="Save_Card_Detail()">
    <ion-icon name="add-outline"></ion-icon>
    Add Card
  </ion-button>
</ion-footer>
