ion-content {
    .order-wrapper {
      padding: 0 13px;
  
      .order-inner {
        position: relative;
        background: #fff;
        margin-top: 15px;
        padding: 4px 6px 15px;
        box-shadow: 2px 3px 20px #bfbfc18c;
        border-radius: 10px;
  
        .top-area {
          position: relative;
          padding: 6px 9px 13px;
          background-color: #757e8417;
          border-radius: 6px;
          margin-top: 3px;
  
          P {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            text-transform: capitalize;
            font-size: 13px;
            font-weight: 500;
            color: #444;
  
            span {
              font-weight: 700;
            }
          }
        }
  
        ion-list {
          padding-top: 0;
          padding-bottom: 0;
  
          .wrapper-area {
            margin: 0 12px;
            border-bottom: 1px solid #66666647;
  
            ion-item {
              --padding-start: -1px;
              border: none;
              margin: 12px 0 12px 0;
  
              ion-avatar {
                width: 75px;
                height: 75px;
                margin: 0 8px 0 0;
  
                img {
                  border-radius: 10px;
                }
              }
  
              ion-label {
                margin: -13px 0 0 0;
                padding: 0;
  
                h2 {
                  font-size: 13px;
                  line-height: 24px;
                  margin: 0;
                  color: #4A4B4D;
                  font-family: "Libre Franklin", sans-serif;
                  font-weight: 600;
                  text-transform: capitalize;
                }
  
                p {
                  color: #B6B7B7;
                  font-size: 12px;
                  line-height: 20px;
                  margin: 0;
                }
  
                ul {
                  padding: 0;
                  margin: 0;
                  display: flex;
  
                  li {
                    list-style-type: none;
                    color: #6e7070;
                    font-size: 12px;
                    line-height: 20px;
                    margin-right: 5px;
  
                    ion-icon {
                      font-size: 3px;
                      color: #111111;
                    }
                  }
                }
  
                p {
                  span {
                    color: #061c05;
                    font-size: 12px;
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
  
                    svg {
                      margin-right: 4px;
                      fill: #061c05;
                      width: 10px;
                      height: 10px;
                    }
                  }
                }
  
  
                small {
                  color: #FFBA72;
                  font-size: 12px;
                  font-family: "Libre Franklin", sans-serif;
  
                  img {
                    margin-right: 5px;
                  }
                }
              }
  
              .right-area {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
                right: -4px;
                bottom: 13%;
  
                p {
                  margin: 0;
                  font-size: 13px;
                  color: #061c05;
                  font-weight: 500;
                  text-transform: capitalize;
                }
              }
            }
          }
  
          .bottom-area {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 0;
            margin: 0 12px;
  
            .left-part {
              display: flex;
              flex-direction: row;
              align-items: center;
  
              ul {
                li {
                  display: flex;
                  align-items: center;
                  text-transform: capitalize;
                  color: #4A4B4D;
                  font-size: 13px;
                  font-weight: 500;
  
                  img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                    margin-right: 7px;
                  }
                }
              }
            }
  
            .right-part {
              display: flex;
              flex-direction: row;
              align-items: center;
  
              ul {
                li {
                  display: flex;
                  align-items: center;
                  text-transform: capitalize;
                  color: #4A4B4D;
                  font-size: 13px;
                  font-weight: 500;
  
                  img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                    margin-right: 7px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  