<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <div class="orders-wrapper">
    <div class="order-status-area">
      <ul>
        <li>
          Order Id
        </li>
        <li>
          Status
        </li>
        <li>
          Action
        </li>
      </ul>
    </div>
    <div class="order-content-area">
      <ul>
        <li>
          #24112411
        </li>
        <li>
          Shipping
        </li>
        <li class="view-text" routerLink="/ordersdetails">
          View
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </li>
      </ul>
    </div>
    <div class="order-content-area">
      <ul>
        <li>
          #24112411
        </li>
        <li>
          Shipping
        </li>
        <li class="view-text" routerLink="/ordersdetails">
          View
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </li>
      </ul>
    </div>
    <div class="order-content-area">
      <ul>
        <li>
          #24112411
        </li>
        <li>
          Shipping
        </li>
        <li class="view-text" routerLink="/ordersdetails">
          View
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </li>
      </ul>
    </div>
    <div class="order-content-area">
      <ul>
        <li>
          #24112411
        </li>
        <li>
          Shipping
        </li>
        <li class="view-text" routerLink="/ordersdetails">
          View
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </li>
      </ul>
    </div>
    <div class="order-content-area">
      <ul>
        <li>
          #24112411
        </li>
        <li>
          Shipping
        </li>
        <li class="view-text" routerLink="/ordersdetails">
          View
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
</ion-content>
