<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <svg id="brand" xmlns="http://www.w3.org/2000/svg" width="15.9" height="17.5" stroke="currentColor" viewBox="0 0 15.9 17.5">
        <g id="Icon_feather-home" data-name="Icon feather-home" transform="translate(0.75 0.75)" opacity="0.87">
          <path id="Path_17" data-name="Path 17"
                d="M4.5,8.6,11.7,3l7.2,5.6v8.8A1.6,1.6,0,0,1,17.3,19H6.1a1.6,1.6,0,0,1-1.6-1.6Z"
                transform="translate(-4.5 -3)" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="1.5"/>
          <path id="Path_18" data-name="Path 18" d="M13.5,27V18h5.4v9" transform="translate(-8.999 -10.997)" fill="none"
                stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        </g>
      </svg>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="category">
      <svg id="brand" viewBox="0 0 24 24" width="15.9" height="15.9" stroke="currentColor" stroke-width="2" fill="none"
           stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
        <line x1="8" y1="6" x2="21" y2="6"></line>
        <line x1="8" y1="12" x2="21" y2="12"></line>
        <line x1="8" y1="18" x2="21" y2="18"></line>
        <line x1="3" y1="6" x2="3.01" y2="6"></line>
        <line x1="3" y1="12" x2="3.01" y2="12"></line>
        <line x1="3" y1="18" x2="3.01" y2="18"></line>
      </svg>
      <ion-label>All Category</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <svg id="brand" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
           stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
        <circle cx="9" cy="21" r="1"></circle>
        <circle cx="20" cy="21" r="1"></circle>
        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
      </svg>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


