<ion-content>
  <div class="scroll-content">
    <div class="wrapper">
      <div class="top_area">
        <div class="top_content">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button
                mode="md"
                text=""
                name="md-arrow-back"
                defaultHref="otpverification"
              ></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
          <h2>password update</h2>
        </div>
        <div class="abstract_shape"></div>
      </div>
      <div class="bottom_area">
        <div class="form_area">
          <ion-list>
            <ion-list-header>
              <ion-label>
                <h2>hello john doe</h2>
              </ion-label>
            </ion-list-header>
          </ion-list>
          <div class="my-form">
            <ion-list>
              <ion-item class="ion-no-padding" style="margin-bottom: 15px;">
                <ion-label position="floating">new password</ion-label>
                <ion-input type="{{passwordType}}" [(ngModel)]="Newpassword" ></ion-input>
                <ion-icon (click)="Password_Visible()" Id="eye" name="{{passwordView}}" slot="end"></ion-icon>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label position="floating">confirm password</ion-label>
                <ion-input type="{{passwordType2}}" [(ngModel)]="confirmpassword" ></ion-input>
                <ion-icon (click)=" Password_Visible2()" Id="eye1" name="{{passwordView2}}" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
            <div class="button-area">
              <ion-button (click)="PasswordChange()">submit</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>