ion-content {
  .detailslider {
    position: relative;
    background: #fff;

    .slider {
      .first-single {
        position: relative;
        width: 100%;
        height: 315px;
        display: flex;
        justify-content: center;
        margin-top: 31px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .top {
      position: absolute;
      padding: 14px 11px;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      width: 100%;

      ion-back-button {
        color: #212121;
      }

      ion-button {
        --background: #fff;
        border-radius: 50%;
        color: #212121;
        --box-shadow: none;
        margin: 0;
        --padding-end: 5px;
        --padding-start: 5px;

        ion-icon {
          font-size: 25px;
        }
      }

      ion-back-button {
        --background: #fff;
        border-radius: 50%;
        color: #212121;
        --box-shadow: none;
        margin: 0;
        --padding-end: 5px;
        --padding-start: 5px;
      }
    }

    .bottom {
      position: absolute;
      padding: 0px 11px;
      bottom: 30px;
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;

      .left {
        border-radius: 18px;
        background: #FE6565;
        color: #fff;
        font-size: 10px;
        line-height: 28px;
        padding: 0 8px;
      }

      ion-button {
        --background: #fff;
        border-radius: 50%;
        color: #212121;
        --box-shadow: none;
        margin: 0;
        --padding-end: 5px;
        --padding-start: 5px;

        ion-icon {
          font-size: 25px;
        }
      }
    }
  }

  .detail {
    position: relative;

    ion-card {
      margin: 0 0 8px 0;
      padding: 0 16px 2px 16px;
      border-radius: 0;
      font-family: 'Libre Franklin', sans-serif;
      box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);

      h2 {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
        color: #212121;
        margin: 0 0 7px 0;
        font-family: 'Libre Franklin', sans-serif;
        text-transform: capitalize;
      }

      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        p {
          font-size: 15px;
          line-height: 20px;
          color: var(--ion-color-primary);
          font-weight: 600;
          margin: 0;
          font-family: 'Libre Franklin', sans-serif;

          span {
            padding-left: 14px;
            font-size: 14px;
            line-height: 20px;
            color: #9E9E9E;
            font-family: 'Libre Franklin', sans-serif;
            text-decoration: line-through;
          }
        }

        .stock {
          border-radius: 4px;
          background: #B7DFB8;
          font-size: 10px;
          line-height: 20px;
          font-family: 'Libre Franklin', sans-serif;
          font-weight: 600;
          color: #008E05;
          padding: 0px 9px;
        }
      }

      .deal {
        display: flex;

      }

      h3 {
        font-size: 16px;
        line-height: 18px;
        font-family: 'Libre Franklin', sans-serif;
        color: #212121;
        margin: 0 0 14px 0;
        font-weight: 600;
      }

      ion-row {
        margin-bottom: 14px;

        ion-col {
          padding: 0;

          p {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            color: #9E9E9E;
          }

          h4 {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            color: #212121;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 600;
          }
        }
      }

      p {
        font-size: 15px;
        line-height: 22px;
        color: #212121;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        margin: 0;
      }

    }
  }

  .description-area {
    width: 100%;
    position: relative;
    padding: 0 16px;

    .top-header {
      position: relative;

      h3 {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
        margin: 14px 0 7px 0;
      }

      p {
        line-height: 22px;
        font-size: 15px;
        margin: 0;
      }
    }
  }
  .review-part{
    width: 100%;
    position: relative;
    padding: 0 16px;
    h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      text-transform: capitalize;
      span{
        font-size: 14px;
        text-transform: capitalize;
        box-shadow: #a9a9a999 1px 1px 1px;
      }
    }
    .ratings-part{
      display: flex;
      align-items: center;
      justify-content: space-between;
      ion-button{
        --background: rgb(0, 140, 0);
        color: #fff;
        font-size: 14px;
        text-transform: capitalize;
        --border-radius: 8px;
        ion-icon{
          font-size: 14px;
          margin-left: 6px;
        }
      }
      p{
        color: rgb(135, 135, 135);
        font-size: 14px;
      }
    }
  }

  // .similar-products-area {
  //   background-color: #F9F9F9;

  //   h2 {
  //     position: relative;
  //     font: 400 13px/16px "Libre Franklin";
  //     text-align: center;
  //     margin: 20px 15px 0 15px;

  //     span {
  //       background: #f8f9fd;
  //       padding: 0 12px;
  //     }

  //     &:after {
  //       position: absolute;
  //       content: "";
  //       left: 50%;
  //       bottom: 45%;
  //       transform: translateX(-50%);
  //       height: 1px;
  //       background-color: #a59393;
  //       width: 100%;
  //       z-index: 9;
  //     }
  //   }
  // }

  .middle {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-bottom: 6px;
    margin-top: 19px;
    span {
        font-size: 13px;
        color: #212121;
        line-height: 19px;
        padding: 0 8px;
        background: #fff;
        position: relative;
        font-weight: 400;
        display: block;
    }
    &:before {
      content: "";
      position: absolute;
      border-bottom: 1px solid #00000033;
      left: 16px;
      overflow: hidden;
      letter-spacing: 3px;
      right: 16px;
      margin: 10px 0 0 0;
    }
}

  .top {
    padding: 11px;
    float: left;
    width: 100%;

    .product1 {
      margin-bottom: 18px;
      float: left;
      width: 100%;

      .products-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 8px;
        border-radius: 10px;


        .product-inner {
          position: relative;
          background: #FFFFFF;
          border-radius: 20px;
          padding: 18px 6px 18px 6px;

          .product-pic {
            position: relative;

            img {
              width: 100%;
              height: 126px;
              object-fit: cover;
              border-radius: 5px;
            }
          }
        }

        span {
          width: 41px;
          height: 41px;
          background-color: #F25C08;
          color: #fff;
          position: absolute;
          border-radius: 50%;
          font-size: 8px;
          right: -11%;
          z-index: 999;
          bottom: 87%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .product-content {
          position: relative;

          h2 {
            text-align: left;
            color: #141414;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin: 12px 0 18px 0;
          }
          p{
            display: flex !important;
            align-items: center;
            color: #061c05;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-transform: capitalize;
            padding-bottom: 16px;
            border-bottom: 1px solid #061C05;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            align-items: center;
            white-space: nowrap;
              span{
                width: auto;
                height: auto;
                background-color: transparent;
                position: relative;
                right: 0;
                bottom: 0;
                color: #f25c08;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                margin-left: 5px;
                text-transform: capitalize;
              }
            }

          .seller-area {
            position: relative;

            p {
              display: flex;
              color: #061C05;
              font-weight: 600;
              font-size: 14px;
              text-align: left;
              line-height: 16px;
              text-transform: capitalize;
              padding-bottom: 16px;
              border-bottom: 1px solid #061C05;

              span {
                color: #F25C08;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                margin-left: 5px;
                text-transform: capitalize;
              }

              .product {
                width: auto;
                height: auto;
                background-color: transparent;
                position: relative;
                right: 0;
                bottom: 0;
              }
            }
          }

          .price-area {
            position: relative;
            text-align: left;

            h3 {
              color: #061C05;
              font-weight: 700;
              line-height: 19px;
              font-size: 16px;
              margin: 16px 0 12px 0;
              display: flex;

              span {
                text-decoration: line-through;
                color: #5A5A5A;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                margin-left: 11px;
              }

              .price {
                width: auto;
                height: auto;
                background-color: transparent;
                position: relative;
                right: 0;
                bottom: 0;
              }
            }
          }

          .rating-area {
            position: relative;

            ul {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              li {
                color: #061C05;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                margin-right: 6px;

                svg {
                  fill: #061C05;
                  width: 11px;
                  height: 13px;
                }
              }
            }
          }
        }
      }
    }
  }

  .buynow {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: sticky;

    ion-button {
      height: 44px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      font-family: "Libre Franklin", sans-serif;
      text-transform: capitalize;
      margin: 0;
      --border-radius: 4px;
      width: 45%;
    }

  }
}
